
html, body {
  height: 100%;
}

 body {
	background: #f4f4f4;
	line-height: 1.5em;
	/*font-family: "Open Sans", arial, sans-serif;*/
 }
 
@media (min-width: 768px) {
.navbar-nav {
    margin: 15px;
}

}
#navbar-collapse {
	float: left;
} 


#navbar-collapse .nav > li > a {
    padding: 25px 15px;
    height: 75px;
}

@media (max-width: 480px) {
	#navbar-collapse {
		float: initial;
	} 
	.navbar-nav {
		margin: 0; 
	}
	
	#navbar-collapse .nav > li > a {
    padding: 5px 15px;
    height: unset;
}
}


.barra {
	background-color: #e8e8e8;
}

.node-type-filiado .barra {
	display:none;
}

.front.not-logged-in .footer
{
    position:fixed;
    bottom:0;
    width:100%;
}

.front.logged-in .footer
{
    position:fixed;
    bottom:0;
    width:100%;
}

@media (max-width: 480px) {
	.front.logged-in .footer {
		position:relative;
	}	
	
	.pagination li {
		height: unset;
		display: unset;
	}
}
 
 h2 {
    margin: 5px auto 10px;	
 }
 h3 {
    margin: 5px auto 10px;
 }
 h4 {
    margin: 5px auto 10px;
 }
 p {
	 text-align: justify;
 }


#top{
    position: relative;
    min-height: 25px;
	padding-top: 5px;
    padding-bottom: 5px;
}

.pos-nav {
	padding-top: 1px;
    padding-bottom: 0px;
}

@media (max-width: 480px) {
	#top{
		/*background-color: #5f643a;*/
		position: relative;
		min-height: 25px;
		/*display: flex;
		justify-content: center;*/
	}
}

#page-top ul {
    list-style: none;
    float: right;
	margin: 0;
	padding: 0;
	line-height: 1em;
}

@media (max-width: 480px) {
	#page-top ul {
    /*float: none;*/
	}
}

#page-top .block {
	margin: 0;
    padding: 2px 35px 2px 0;
	font-size: 0.8em;
}

#page-top ul li a:before {
    padding: 0px 5px 0px 5px;
}

#page-top > li > a:hover, #top > li > a:focus {
	color: #212121;
    background-color: #eff7b6;
}

#page-top ul li {
	float: left;
    padding-right: 5px;
	padding-bottom: 5px;
}
.region {
	/*padding:0px 10px 0px 10px;*/
}

.region.region-content-top {
	padding:0;
	margin-left: -15px;
    margin-right: -15px;
}

.region.region-top-left {
	float:left;
}

.navbar {
    /*border-radius: unset;*/
}

.page-header {
	margin: 20px 0 10px 0;
    padding-bottom: 0px;
    border-bottom: unset;
	/*    padding-left: 10px;*/
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: underline;
}

.nav > li > a.icon-pdf {
   padding-left: 20px;
   color: #666666;
}

#block-menu-menu-imprimir-filiados ul.menu.nav {
   display: flex;
}
.logo img {
   width: 100%;
}

.main-container {
   /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 3px;*/
}
 
.block {
	margin-top: 10px;
	margin-bottom: 10px;
 }
 
#block-views-map-view-block.block {
	margin: 0;
 }
 
 
.block-simpleads .image-ad img {
	max-height: 300px;
}


.region.region-parceiros4 {

}

label {
    margin-bottom: 0px;
}

label {
    text-transform: uppercase;
}

.pos-content h2 {
    text-transform: uppercase;
}

.pos-nav p {
     margin-bottom: 5px;
	 line-height: 15px;
}

.block-objetivo-do-site {
	margin-bottom: 0px;	
}

.block-pesquisa h2.block-title {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 23px;
    line-height: inherit;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.footer {
	border: 0;
}

@media (max-width: 480px) {
	.footer {
	border: 0;
	/*margin-bottom: 70px;*/
}
}


.valign-center {
    display: inline-flex;
    align-items: center;
}

.valign-bottom {
    display: inline-flex;
    align-items: baseline;
}


.print-link {
	float: right;
}
.navbar-default .navbar-nav > li> a {
    height: 64px
}
/*
@media (max-device-width: 480px) {
	.navbar-nav {
		margin: 0;

	}
	.nav > li {
        float: left;
	}

	.navbar-default .navbar-nav > li> a {
		padding: 53px 5px 10px 5px;
	}
}*/
/*FIM DO MENU */


#user-login-form,
#user-login {
    max-width: 384px;
    margin: 30px auto 28px auto;
    border: 1px solid #dedede;
    border-radius: 2px;
    text-align: left;
    padding: 20px;
}

#user-register-form {
    max-width: 500px;
    border: 1px solid #dedede;
    border-radius: 2px;
    text-align: left;
    padding: 20px;
	margin: 0 auto;
}

#block-system-help.block.block-system.clearfix p {
	margin: 0;
	padding: 0;
}
#block-system-help.block {
	    margin-top: unset;
    margin-bottom: unset;
}

.page-admin-people-create .region.region-help {
	display: none;
	
}

.page-admin-people-create #user-register-form	 {
	max-width: 100%;
}



.navbar-toggle {
padding: 30px 10px 0px 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}


.pos-content .block {
	border-left: 1px dotted;
    padding: 0 10px;
}


.contexto {
    position: absolute;
    left: -3000em;
    width: 1em;
    overflow: hidden;
}

.glyphicon-user:before {
    margin-right: 5px;
}
/*
@media (max-width: 480px) {
	nav {
	position: fixed;
    bottom: 0px;
	left: 0px;
    z-index: 1000;
    width: 100%;
    background-color: #eff7b6;
    }
}
*/
.text-center {
    clear: both;
}


.view-content {
	/*margin-top: 30px;*/
}

.papeis .view-content {
	margin-top: 0px;
}

#block-webform-client-block-43 {
	width: 50%;
    margin: 0 auto;
	    margin-bottom: 100px; 	
}

.view-empty {
	margin-top:30px;
}

.page-taxonomy-term .tabs--primary.nav.nav-tabs {
 display:none;	
}

div.contextual-links-wrapper a {
    display: block !important;
}


.relatorio h1 {
	margin: 0;
	padding:0;
}

.relatorio h2 {
	margin: 0;
	padding:0;
	font-style:italic;
}

.icon-pdf {
background-image: url(../images/pdf.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
}

.feed-icon {
    /*margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 98%;
	*/
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    right: 14px;
    top: 15px;
}

/*
.field,
.field-type-text,
.field-type-taxonomy-term-reference,
.field-type-date,
.form-radios .form-type-radio,
.field-type-number-decimal,
.field-type-list-boolean,
.field-type-text-long  {
    float: left;
    padding-left: 10px;
}

.radio + .radio, .checkbox + .checkbox {
        margin-top: 10px;
}

.field-type-file {
	clear: both;
}

.form-group {
    margin-bottom: 0px;
}
*/


.field-collection-container {
    border-bottom: initial;
    margin-bottom: 5px;
}

/* VER */
.view-mode-full .field,
.node .field {
    display: inline-block;
    margin: 0px 15px 10px 5px;
    /*min-height: 50px;*/
}

.view-mode-full .node-email .field,
.node.node-email .field {
	display: initial ;
}

/* Editar */
.node-form .form-wrapper.form-group {
	display: inline-flex;
    margin: 0px 15px 15px 5px;
}


@media (max-width: 468px) {
	.draggable .form-wrapper.form-group {
		display: block;
	}
}

@media (max-width: 468px) {
	.file-widget.form-managed-file.clearfix.input-group {
		display: block;	
	}
}

@media (max-width: 468px) {
.file-widget.form-managed-file.clearfix.input-group .input-group-btn:last-child > .btn,
.file-widget.form-managed-file.clearfix.input-group .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin: 5px 0;
}
}
.node-form .field-widget-text-textarea.form-wrapper.form-group,
.node-form .field-widget-entityreference-view-widget.form-wrapper.form-group {
	display: unset;
}

.node-form .field-name-field-idcbc.field-widget-entityreference-view-widget.form-wrapper.form-group {
	display: inline-flex;
}

.node-form .field-name-field-idcbc.field-widget-entityreference-view-widget.form-wrapper.form-group .form-item{ 
	display: inline-flex;
}

#edit-field-idcbc .form-item .table-responsive td.field-multiple-drag {
	display: none;
}

#edit-field-idcbc .form-item .checkbox label {
    font-size: 1em;
}

#edit-field-idcbc .checkbox  {
	padding-bottom: 0;
    margin-bottom: 0;
}

#edit-field-idcbc .field-widget-entityreference-view-widget .ervw-add-items {
    margin-top: 10px;
}

#edit-field-idcbc 	table > thead > tr  {
    background: none;
	border: unset;
}

#edit-field-idcbc table > tbody > tr > td {
	border-top: none;
}


#edit-field-idcbc 	table > thead > tr > th {
    background: none;
	border: unset;
}

#edit-field-idcbc tbody > tr  {
    background: none;
	border-bottom: 1px solid #9e9e9e;
}

#edit-field-idcbc tbody > tr > td {
	    padding: 0;	 
}

#edit-field-idcbc .form-item .table-responsive .entityreference-view-widget-table-row {}

#edit-field-idcbc .form-item .clearfix {
	align-self: flex-end;
	margin-left: 5px;
}


.view-mode-full .field.field-type-file,
.view-mode-full .field.field-type-text-long,
.view-mode-full .field-type-text-with-summary,
.node-form .field-type-file.form-wrapper.form-group,
.node-form .field-type-text-long.form-wrapper.form-group,
.node-form .field-type-text-with-summary.form-wrapper.form-group{
	width: 100%;
	display: block;
}

.view-mode-full .field.field-type-text-long,
.view-mode-full .field-type-text-with-summary,
.node-form .field-type-text-long.form-wrapper.form-group,
.node-form .field-type-text-with-summary.form-wrapper.form-group {
	min-height: 150px;
}

.view-mode-full .field-name-field-autorizacao.field.field-type-text-long,
.node-form .field-name-field-autorizacao.field-type-text-long.form-wrapper.form-group
{
	min-height: unset !important;
}

.node-form .field-name-field-autorizacao.field-type-text-long.form-wrapper.form-group .grippie,
.field-name-field-autorizacao .control-label 
{
	display: none !important;
}

.node-form .field-widget-options-select.form-wrapper.form-group {
    margin: 0px 45px 15px 0px;	
}

.node-form .field-name-field-grau-de-parentesco.field-widget-options-select.form-wrapper.form-group {
    margin: 0px 20px 15px 5px;
}

select, select.form-control .form-select{
	/*height: 37px;*/
	padding: 6px 10px 6px 10px;
}


.form-control.form-select {
	min-width: 100px;
	padding: 0 0.3em;
}

.node-form .radio, .node-form .checkbox {
	display: inline-block;
	margin-right: 10px;
}

.node-form .field-widget-entityreference-view-widget.form-wrapper.form-group .checkbox {
	display: block;
}

select, select.form-control option 	{
   padding: 10px;
}

fieldset.grupo {
    background-color: transparent;
    /*border: none;*/
    border: 1px solid #dddddd;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 2px;
    outline: none;
    min-height: 3em;
    /*width: 100%;*/
    font-size: 16px;
    margin: 0 0 8px 0;
    /*padding: 0;*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
    /*-webkit-box-sizing: content-box;*/
    box-sizing: content-box;
    /*-webkit-transition: border .3s, -webkit-box-shadow .3s;*/
    /*transition: border .3s, -webkit-box-shadow .3s;*
    transition: box-shadow .3s, border .3s;
    /*transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;*/
}

fieldset.grupo {
    box-shadow: 0 0 black;
    margin-bottom: 0px;
}

.form-group {
    margin-bottom: 0;
}

fieldset.grupo legend {
     width: auto;	
}

.field-collection-view.view-mode-full {
	margin: 0;
} 

fieldset.grupo {
   clear: both;
   margin-bottom: 10px;   
}

.view-mode-full .field .field-label,
.node .field .field-label,
fieldset.grupo .panel-title,
fieldset.grupo .fieldset-wrapper label,
.user-profile h3,
.form-item-log .control-label {
	text-transform: uppercase;
	color: #000;
	font-weight: 900;
    font-size: 0.75em;
}
.node-form  .control-label {
    text-transform: uppercase;
    color: #666;
    font-weight: 700;
    font-size: 0.75em;
}

.user-profile dt {
    font-weight: initial;
}

.messages {
  margin-top: 20px;
}
.termo {
	position: absolute;
    right: 25px;
    top: 10px;
}
.adicionar {
    /*position: absolute;
    right: 14px;
    top: -30px;*/
	position: absolute;
    right: 55px;
    top: 25px;

}
.gerar {
    position: absolute;
    right: 195px;
    top: 10px;
}

#taxonomy-form-term  .text-format-wrapper {
	display:none;
}

.date-no-float {
	width: unset;
}

.container-inline-date .form-item .form-item {
    margin-right: 10px;
	display: inline-block;
	/*width: 6em;*/
}

#views-exposed-form-consigsiape-page .container-inline-date .form-item .form-item {
    margin-right: 10px;
	display: inline-block;
	width: unset;
}

#views-exposed-form-consigsiape-page .form-control.form-select {
    min-width: 80px;
    padding: 0 0.3em;
}

/*.node-form.node-consigsiape-form #edit-field-contrato,*/
.node-form.node-consigsiape-form #edit-field-status-consigsiape,
.node-form.node-consigsiape-form #edit-field-data-consigsiape,
.node-form.node-consigsiape-form #edit-field-cpf,
.node-form.node-consigsiape-form #edit-field-nome,
.node-form.node-consigsiape-form #edit-field-nome,
.node-form.node-consigsiape-form #edit-field-status-gravado-siape {
	display:none;
}


.container-inline-date .form-item .form-item.form-item-field-data-de-importacao-value-value-date {
    /*width: 6em;*/
}

.container-inline-date .form-item .form-item.form-item-field-data-de-importacao-value-value-time {
    width: 3em;
}

form {
	border: 1px solid #dddddd;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 2px;
	background-color: #ffffff;
}

.view-filters form {
	border: 1px solid #dddddd;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 0px 20px 0px 20px;
    border-radius: 2px;
	background-color: #ffffff;
}

.view-filters {
	margin-bottom: 10px;
    margin-top: 10px;
}

.views-exposed-form label {
    font-weight: bold;
    line-height: 1em;
}

.views-exposed-widgets.clearfix {
    margin: 0 auto;
	/*display: flex;*/
}

.views-exposed-form .views-exposed-widget {
    float: left;
	display: inline-table;
    padding: .5em 1em 0 0;
	/*max-width: 180px;*/
	min-height: 90px;
}

.form-item.form-item-field-data-und-0 > label.control-label {
    display: none;
}

.form-textarea-wrapper textarea {
    display: block;
    margin: 0;
    width: 100%;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: 15px;
}

.webform-submit.button-primary {
	margin-top: 20px;
}

.table > caption + thead > tr:first-child > th, 
.table > colgroup + thead > tr:first-child > th, 
.table > thead:first-child > tr:first-child > th, 
.table > caption + thead > tr:first-child > td, 
.table > colgroup + thead > tr:first-child > td, 
.table > thead:first-child > tr:first-child > td,
table > thead  > tr:first-child:first-child > th {
    text-transform: uppercase;
}

caption {
    color: #666666;
    font-weight: 600;
}

.group-acoes .field-item:before {
	content: "\002b";
    margin-right: 5px;
}


#edit-relations {
	display:none;
}

.page-admin-structure-taxonomy .nav-tabs {
	display: none;
}

.alertafiliado.painel ,
.alertafiliado.painel a {
  color:#FC0;	
}

.alertafiliado.painel i {
      margin-right: 10px;
}

.alertafiliado.painel i:before {
      margin-right: 5px;
}

.alertafiliado.painel a:focus,
.alertafiliado.painel a:hover {
  color:#fff;
  text-decoration: underline;
}

.painel:before {
	margin-right: 10px;
}

.rodape.centro {
	text-align:center;	
}

.alertafiliado .view-content {
	margin: 0;
}

.registrarpresencaassembleia #edit-bundle-assembleia {
	display: none;
	
}

.registrarpresencaassembleia #edit-bundle-participacao-assembleia .panel-heading {
	display:none;
	
}

.registrarpresencaassembleia #edit-bundle-participacao-assembleia-field-participa {
	display:block !important;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed !important;
}

.node.node-filiado.node-teaser {
	display:none;
}

.page-node-edit.node-type-filiado .pre-visualizar {
	margin-top: 30px;
}

.links {
    text-align: end;
}

a.print-page img.print-icon {
    width: 32px;
    height: unset;
}

a.print-pdf img.print-icon {
    width: 24px;
    height: unset;
}

.print {
display:none;
}

.no-print { 
display:block; 
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    height: 1.8rem;
}

.form-control {
    height: 1.8em;
    padding-top: 0;
}

.form-control.form-file {
	height: 2.8rem;
}

.view-filters .form-control {
    /*height: 1.9em;*/
}


#field-dependente-values .form-control.form-select {
    height: 1.8rem;
    padding-top: 0;
}

.field-multiple-drag {
	/*display:none;*/
}

.group-documentos .form-control {
    height: unset;
}

input.date-clear.form-control {
	max-width: 6rem;
}

#edit-field-contracheque-und-0-ajax-wrapper,
#edit-field-identidade-cpf-und-0-ajax-wrapper,
#edit-field-ficha-de-filiaco-assinada-und-0-ajax-wrapper {
	    /*width: 50%;*/
}

.cabecalho-fichafiliado {
    display:none;	
}

.field-widget-options-onoff {
	vertical-align: bottom;
}

.imprimir {	
    /* position: relative; */
    /* right: 5px; */
    /* top: -80px; */
    margin-left: 90%;
    text-align: center;
    line-height: 0.6em;
}


.imprimir a {	
	font-size: 0.6em;
    font-weight: 900;
	color:#000000;
	text-decoration: none;
}

.assinatura {
	    display: none;
	    margin-top: 100px;		
}

.top-print {
	display:none;
}
.page-node-edit.node-type-acoes .imprimir,
.page-node-edit.node-type-assembleia .imprimir,
.page-taxonomy-term-edit .imprimir,
.page-user-edit .imprimir {
	display:none;
}

select {
    display: block;
}

select, select.form-control {
    line-height: 1.9;
}

.form-required {
	color: red;
    font-size: 1.5em;
}

#comments h2.title {
	display: none;
}

#comments h2.title.comment-form {
	display: initial;
}

#webform-client-form-99685,
#webform-client-form-92756 {
	max-width: 300px;
}

form#webform-client-form-99685 > div,
form#webform-client-form-92756 > div {
  display:flex;
}

form#webform-client-form-99685 .webform-submit,
form#webform-client-form-92756 .webform-submit {
  margin-left: 10px;
}
/*
.financeiro th, .financeiro td {
	text-align: right;
}*/

.financeiro table th.views-field.views-field-field-matricula-pen-ser,
.financeiro table th.views-field.views-field-field-nome-da-pensionista,
.financeiro table th.views-field.views-field-field-situacao-funcional,
.financeiro table th.views-field.views-field-field-situacaofiliado {
	text-align: left;
}

/*
.financeiro table tbody tr td:nth-child(1), 
.financeiro table tbody tr td:nth-child(4), 
.financeiro table tbody tr td:nth-child(5), 
.financeiro table tbody tr td:nth-child(6){
	text-align: left;
}*/

.recadastramento.bloco {
   width: 50%;
}

@media (max-width: 480px) {
	.recadastramento.bloco {
		width: 100%;
	}
}

.vertical-tab-button.first.last.active.selected {
	display: none;
}

.view-filters .form-item.form-item-uid {
	width: 12em;
}


#webform-client-form-143417 .form-item,
#webform-client-form-136850 .form-item,
#webform-client-form-92954 .form-item,
#webform-client-form-127191 .form-item,
.webform-client-form .form-item
{
	display: inline-block;
    margin: 10px;
}

/*
.node-webform .form-item {
	display: inline-block;
    margin: 10px;
	
}*/

.consigsiape
{
 color: #FC0;	
 text-decoration: none;
 font-weight: 700;
}

a.consigsiape:hover,
a.consigsiape:focus
{
    color: #ffffff;
	text-decoration: underline;
  	
}

#views-form-consigsiape-page div[class*="show-value"] {
    float: unset;
    margin-right: 20px;
}

.financeiro.pagamentos-filiados .table {
	font-size: 0.675em;
}

.view-financeiro-mensal-diferencas-de-consignacoes .table .views-row-last,
.view-estatistica-por-faixa-etaria .table .views-row-last {
    font-weight: 800;	
}

.view-financeiro-mensal-diferencas-de-consignacoes .table .even.views-row-last td.views-field.views-field-counter {
	visibility: hidden;	
}

.feeds-file-upload .form-file {
    width: 500px !important;
}


